


{% block content %}
 <div class = "content">
   {% block text%}

   {% endblock %}
 </div>

 <div class = "content">
   {% block app_content%}

   {% endblock %}
 </div>
{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <div class="flash_massage">
       {{ message }}
        </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block scripts %}
 <link href="{{ url_for("static", filename="style.css") }}" rel="stylesheet" type="text/css"/>
{% endblock %}

