<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        {% endblock %}
    </head>

 <body>
  {% block content %}
      <div class="container">
          <div class="row col-md-12">
            {{ render_form(form)}}
          </div>
      </div>

  {% endblock %}

   {% block text%}{% endblock %}

   {% block app_content%} {% endblock %}

   {% block scripts %}
      <link href="{{ url_for("static", filename="style.css") }}" rel="stylesheet" type="text/css"/>
   {% endblock %}

   <div class="container flashed-messages">
                        <div class="col-ld-5 col-md-5 offset-md-8">
               {% with messages = get_flashed_messages() %}
                  {% if messages %}
                      <div class="alert alert-warning" role="alert">
                        {% for message in messages %}
                          <div class="flash_message">
                              {{ message }}
                          </div>
                        {% endfor %}
                      </div>
                  {% endif %}
               {% endwith %}
          </div>
   </div>
   </body>
</html>