{% extends 'base1.html' %}
{% from "bootstrap/form.html" import render_form %}

{% block content %}
    <div class="container jumbotron">
    <div>
        <h2 class="text-center"> Game!
        </h2>
    </div>
        <div class="row">
        <p> Choose field dimensions: integer numbers from 5 to 100. </p>
         </div>
    </div>

    <div class="container">
           <div class="row col-md-12">
            {{ render_form(form)}}
       </div>
    </div>

{% endblock %}


