{% extends 'base1.html' %}
{% from "bootstrap/form.html" import render_form %}
{{super()}}
{% block content %}

   <div class="container jumbotron">
        <h2 class="text-center"> Game! </h2>
        <a class="btn btn-warning home" href="{{ url_for('index') }}">Start over</a>
        <p> Move the green cell towards the red one.</p>
        <p> You walked {{ game.counter}} steps.  </p>
    </div>

   <div class="container">
       <div class="row">
          <div class="row col-md-12">
              {{ render_form(form)}}
          </div>


             <div class="col-ld-6 col-md-6 offset-md-1">
           <table class="world">
     {% for i in range(game.height) %}
        <tr>
        {% for j in range(game.width) %}
            {% if game.world[i][j] %}
                <td class="cell living-cell"></td>

            {% elif i == (game.height-1) and  j == (game.width-1) %}
                <td class="cell dead-cell"></td>

            {% else %}
                <td class="cell"></td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
 </table>
 </div>

 </div>
       </div>
{% endblock %}

